@import '@fontsource/fira-mono';

:root {
	--body-font-family: 'Roboto', sans-serif;
	--heading-font-family: 'Poppins', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--content-width: 1280px;

	/* Colors */
	--white: #ffffff;
	--off-white: #e3e2e0;
	--black: #120321;
	--black-alt: black;
	--gold: #ffcc00;
	--purple-light: #7a00cb;
	--purple-dark: #3e0068;
	--red: #ff0066;
	--green: #66ff00;

	--column-width: 42rem;
	--column-margin-top: 4rem;
	font-family: var(--font-body);
	color: var(--color-text);
	--header-height: 6rem;

	/* Weights */
	--regular: 400;
	--medium: 500;
	--semi-bold: 600;
	--bold: 700;

	/* Fonts */
	--h1: 4.209rem;
	--h2: 3.157rem;
	--h3: 2.369rem;
	--h4: 1.777rem;
	--h5: 1.333rem;
	--h6: 1rem;
	--body-font-size: 1rem;
	--body-font-small: 0.75rem;
}

body {
	min-height: 100vh;
	margin: 0;
}

main {
}

section {
	background-color: transparent;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	font-family: var(--heading-font-family);
	font-weight: var(--bold);
}

p {
	line-height: 1.5;
}

a {
	color: var(--color-theme-1);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--color-text);
}

.text-column {
	display: flex;
	max-width: 48rem;
	flex: 0.6;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1,
	.h1 {
		font-size: var(--h1);
	}

	h2,
	.h2 {
		font-size: var(--h2);
	}

	h3,
	.h3 {
		font-size: var(--h3);
	}

	h4,
	.h4 {
		font-size: var(--h4);
	}

	h5,
	.h5 {
		font-size: var(--h5);
	}

	h6,
	.h6 {
		font-size: var(--h6);
	}
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

/* Default Button Styles */
.btn {
	position: relative;
	padding: 12px 30px;
	background-color: transparent;
	color: var(--white);
	font-family: var(--body-font-family);
	font-weight: var(--bold);
	border-radius: 27px;
	border: 1px solid var(--red);
	overflow: hidden;
	display: inline-block;
	z-index: 2;
}
.btn:hover {
	text-decoration: none;
}
.btn::before {
	content: '';
	background-color: var(--red);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -2;
}
.btn::after {
	content: '';
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	background-color: var(--black);
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	z-index: -1;
	animation: empty 0.5s ease-in-out 1;
}
.btn:hover::after {
	animation: fill 0.8s ease-in-out 1;
	animation-fill-mode: forwards;
}
.empty::after {
	animation: empty 0.8s ease-in-out 1;
}
@keyframes fill {
	0% {
		width: 0;
	}
	40% {
		width: 100%;
	}
	70% {
		width: 85%;
	}
	100% {
		width: 100%;
	}
}
@keyframes empty {
	0% {
		width: 100%;
	}
	100% {
		width: 0;
	}
}
.btn.btn-secondary {
	background-color: transparent;
	color: var(--white);
	border: 1px solid var(--white);
}
.btn.btn-secondary::before {
	background-color: transparent;
}
.btn.btn-secondary::after {
	background-color: var(--red);
}

.peekaboo {
	position: relative;
}
.peekaboo::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 20px;
	background-image: linear-gradient(
		45deg,
		hsl(336deg 100% 50%) 1%,
		hsl(333deg 100% 49%) 43%,
		hsl(330deg 100% 48%) 50%,
		hsl(326deg 100% 46%) 51%,
		hsl(321deg 100% 44%) 51%,
		hsl(315deg 100% 41%) 49%,
		hsl(308deg 100% 38%) 49%,
		hsl(298deg 100% 36%) 50%,
		hsl(287deg 100% 38%) 57%,
		hsl(276deg 100% 40%) 99%
	);
	z-index: -1;
	transition: transform 0.8s cubic-bezier(0.2, 1, 0.3, 1);
}
.peekaboo:hover::before {
	transform: rotate(8deg);
}
